[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/vim-cursorword"]
	path = bundle/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword.git
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/lapingenieur/lightline.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
